mixin reviewForm(review)
  form.reviewer(action=`/reviews/${review._id}` method="POST")
    textarea(name="text" placeholder="Тук може да напишете коментар и да дадете оценка." oninvalid="this.setCustomValidity('Това поле е задължително')" required)
    .reviewer__meta
      .reviewer__stars
        each num in [5,4,3,2,1]
          input(type="radio" id=`star${num}` name="rating" value=num)
          label(for=`star${num}`) #{num} Stars
      input.button(type="submit" value="Оцени и Коментирай →")
